body {
  background-color: #151515;
  color: #bbb;
  padding: 50px;
  font: 14px Courier;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.nav a {
    color: Purple;
    font-size: 1.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Josefin Slab', serif;
}

.pure-g {
    padding-top: 20px;
}

/* Home styles */
.home-desc {
    font-size:1.2em;
}

.home-desc a {
    font-weight: bold;
    color: Purple;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

#subtitle {
    font-size: 1.5em;
    color: #555555;
}

/* Outer container styles */
.nav a {
    padding: 0px 5px 0px 5px;
}
.nav a:hover {
    text-shadow: 2px 1px 28px rgba(255, 0, 255, 1);
}
.nav i {
    padding-right: 5px;
    padding-left: 10px;
}
.menu-selected {
    border-bottom: 3px solid purple;
}
#logo-img {
    width: 25%;
    height: 25%;
}

/* More pure-button colors */
.pure-button {
    color:white
}
.button-red {
    background-color: red;
}
.button-green {
    background-color: green;
}

/* Projects page styles */
.project-block {
    padding:5px;
}

/* Form styles */
form input, textarea {
    color: #000;
    font-size: 1.25em;
}
::-webkit-input-placeholder {
    color: purple;
}

:-moz-placeholder { /* Firefox 18- */
    color: purple;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: purple;  
}

:-ms-input-placeholder {  
    color: purple;  
}

/* Code samples */
code {
    font-family: Courier, Monospace, sans-serif;
    padding: 10px;
    display: block;
    background-color: #000;
}
