body {
  padding: 50px;
  font: 14px Courier;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.nav a {
    color: Purple;
    font-size: 1.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Josefin Slab', serif;
}

.pure-g {
    padding-top: 20px;
}

.home-desc {
    font-size:1.2em;
}

.home-desc a {
    font-weight: bold;
    color: Purple;
}

/* Outer container styles */
.nav a {
    padding: 0px 5px 0px 5px;
}
.nav a:hover {
    text-shadow: 2px 1px 28px rgba(255, 0, 255, 1);
}
.nav i {
    padding-right: 5px;
    padding-left: 10px;
}
.menu-selected {
    border-bottom: 3px solid purple;
}
#logo-img {
    width: 25%;
    height: 25%;
}

/* More pure-button colors */
.pure-button {
    color:white
}

.button-red {
    background-color: red;
}

/* Projects page styles */
.project-block {
    padding:5px;
}
