<title>Home</title>

<div class="pure-g" ng-controller="homeController">
    <div class="pure-u-1">
        Current time: {{ time }}
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
	<p style="font-size:1.5em"><span style="color: #3333FF"> "A well-written program is its own Heaven; a poorly-written program is its own Hell." </span> - Geoffrey James, <em> The Tao of Programming </em></p>
    </div>
    <div class="pure-u-1 home-desc">
        <h2> What is Ape? </h2>
        <h3> AngularJS </h3>
        <p> On the frontend, there's AngularJS. One of the most powerful tools for creating dynamic view for your web application. Read more at <a href="https://angularjs.org">AngularJS</a>.</p>
        <h3> PostgreSQL </h3>
        <p> On the backend, the champion of relational databases. The last thing we need is to muck around with document oriented database systems when we're dealing with important data! <a href="http://www.postgresql.org/"> PostgreSQL </a> Powered by <a href="http://docs.sequelizejs.com/en/latest/"> Sequelize</a>.</p>
        <h3> Express </h3>
        <p> In between -- the master of Node.js web frameworks. <a href="http://expressjs.com/" /> Express </a>.</p>
    </div>
</div>
