<title>Home</title>

<div class="pure-g" ng-controller="homeController">
    <div class="pure-u-1">
	{{ currentUser.username || '' }}
    </div>
    <div class="pure-u-1">
        Current time: {{ time }}
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
	<p style="font-size:1.5em"><span style="color: #3333FF"> "A well-written program is its own Heaven; a poorly-written program is its own Hell." </span> - Geoffrey James, <em> The Tao of Programming </em></p>
    </div>
    <div class="pure-u-1 home-desc">
        <h2> What is Ape? </h2>
        <a href="https://angularjs.org"><h3> AngularJS </h3></a>
        <p> On the frontend, there's AngularJS. One of the most powerful tools for creating dynamic views for your web application. Create fast frontend logic that connects easily to your backend APIs. The facilities to do so are already built in to APE.
        <a href="http://docs.sequelizejs.com/en/latest/"><h3> PostgreSQL </h3></a>
	<p> On the backend, the champion of relational databases. The last thing we need is to muck around with document oriented database systems when we're dealing with important data! Persistent storage of your valuable data is powered by <a href="http://docs.sequelizejs.com/en/latest/"> Sequelize</a> and the best in relational databases, PostgreSQL.</p>
        <a href="http://expressjs.com/" /><h3> Express </h3></a>
        <p> In between -- the master of Node.js web frameworks. Build a powerful RESTful API with ease using the best solution for Node.js app server-sides available.</p>
    </div>
</div>
