<title>Login</title>

<form novalidate class="pure-form">
    <fieldset>
	<legend> Login </legend>
	<input type="text" placeholder="username" name="username" ng-model="loginState.username" required/>
    	<input type="password" placeholder="password" name="password" ng-model="loginState.password" required/>
    	<button type="submit" class="pure-button pure-button-primary" ng-click="userLogin()">Login</button>
    </fieldset>
</form>
<div class="pure-g">
    <div class="pure-u-1">
	<p style="color:red"> {{ loginState.error }} </p>
    </div>
</div>
